<a href="https://colab.research.google.com/github/rakibulislam0101/Python-Basic/blob/main/STUDY_MART_SUMMARY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Paragraphs ',' the building blocks of papers',sep='are',end='. \n')

print('Data Science','Machine Learning',sep='&',end=' | \n')

H = 'Hello World'

print('My Sentence is',H, sep=':',end='!')

Paragraphs are the building blocks of papers.
Data Science&Machine Learning |
My Sentence is:Hello World!

In [ ]:
# Memory location

A = 'Rakibul islam'
print(id(A))

B = 'Rafi'
print(id(B))

C = 'Python'
print(id(C))

D = 'C++'
print(id(D))

E = 'JavaScript'
print(id(E))

F = 'Data Science'
print(id(F))

G = 'Computer Vision'
print(id(G))

134648292215536
134647274075376
134648314066416
134647275775664
134648300233200
134647275769904
134647274335792

In [ ]:
# Multiple variable

a,b = 1,2
print(a,b)

c,d,e,f = 10,20,30,40
print(c,d,e,f)

g,h,i = 'Data Science','Machine Leaning','Cyber Security'
print(g,h,i, sep=' ')

1 2
10 20 30 40
Data Science Machine Leaning Cyber Security

In [ ]:
# local variable
A = 10

def A_():
  A = 50
  print(A)
A_()

B = 1000
def B_():
  B = 20
  print(B)
B_()


C = 50000
def C_():
  C = 5
  print(C)
C_()

D = 400
def D_():
  D = 4
  print(D)
D_()

E = 900000000000
def E_():
  E = 90
  print(E)
E_()

F = 66
def F_():
  F = 60
  print(F)
F_()

50
20
5
4
90
60

In [ ]:
# input & type casting
A = int(input('Enter your first number : '))
B = int(input('Enter your sencond number : '))

print(A+B)

C = 10
print(float(C))

D = True
print(int(D))

10.0
1

In [ ]:

X = True
print(float(X))


Y = False
print(int(False))

A = False
print(int(A))

B = True
print(int(B))

1.0
0
0
1

In [ ]:
# find() & len()

A = "Rakibul islam Rafi"
A.find('m',9,13)
len(A)

for A in range(len(A)):
  print(A+1)


B = "I LOVE UNIVERS"
len(B)

for B in range(len(B)):
  print(B+1)


C = "I Love Python"
len(C)

for C in range(len(C)):
  print(C+1)

D = "I Like Andrew Tate"
len(D)

for D in range(len(D)):
  print(D+1)


E = "I Love MetaVarse"
len(E)

for i in range(len(E)):
  print(i+1)


X = 'Hello World!'
X.find('W',5,10)

Y = "'Weak'up to the reality"
Y.find('r',0,20)

Z = 'Hello Welcome Hi'
Z.find('Hello',0,10)

0

In [ ]:
#Split()

A = "I LOVE BANGLADESH"
A.split()

for A in A:
  print(A)

B = "I LOVE CANADA"
B.split()

for B in B:
  print(B)

C = "I LOVE DATASCIENCE"
C.split()

for C in C:
  print(C)

D = 'MY Name is Rakibul islam'
D.split()

for D in D:
  print(D)

E = "I Love Virtual Reality"
E.split()

for E in E:
  print(E)

F = "I Love Machine Learning"

for x in F:
  print(x)

In [ ]:
# Split() index()

A = "I Love Data Science"
A.split()[-1]

B = "I Love Bangladesh"
B.split()[-2]

C = "I love Metaverse"
C.split()[-1]

D = "I Love Sigma"
D.split()[-1]

E = [True,(1,2,3,4,5,6,7,[1,2,3,4,5])]
E[-1][2:4]

F = ['Data Science',False,(1,2,3,4,5)]
F[-1][-4:]

(2, 3, 4)

In [ ]:
# Tuple

Tuple_1 = (1,2,3,4,5)
Tuple_1[-1]

Tuple_2 = (True,bool,(12,3,5,7))
Tuple_2[-1]

Tuple_3 = ("Cyber Security",False,('Data Science','Machine learning','Virtual Reality'))
Tuple_3[-1]
Tuple_3[-1][-2]

'Machine learning'

In [ ]:
# array
import array as arr

array_1 = arr.array('i',[1,2,3,4,5])
array_1

import array as array

array_2 = array.array('f',[1,2,3,4,5,6,7,8,9,10])
array_2

import array as arr_

array_3 = arr_.array('f',[1.0, 2.0, 3.0, 4.0, 5.0])
array_3

array_4 = arr.array('f',[10,20,30,40,50])
array_4

array_5 = ('i',[1,2,3,4,5,6,7,8,9,10,[1,2,3,4,5]])
array_5[-1][-1]

array_6 = arr.array('i',[1,2,3,4,5])
array_6[:3]

array('i', [1, 2, 3])

In [ ]:
#Set

Set_1 = {
    1,2,3,4,5
}
Set_1

Set_2 = {
    'Data Science','Machine Learning','MetaVarse'
}
Set_2

Set_3 = {
    10,20,30,40,50
}
type(Set_3)

Set_4 = {
    1,2,3,4,5,6,10
}
isinstance(Set_4,set)

True

In [ ]:
# Dictonary

Dic_1 = {
    'Name': 'Rakibul islam',
    'Age': 15,
    'School': 'Jhangirnagor School & Collage',
    'Class': 8
}
Dic_1
Dic_1.values()
type(Dic_1)

Dic_2 = {
    None : None,
    None: None,
    None: None,
    True: False,
    bool: bool
}
Dic_2
Dic_2.keys()

dict_keys([None, True, <class 'bool'>])

In [ ]:
x = 1010
y = 1010

x is y

A = 'Rafi i'
B = 'Rafi'
A is B

C = 'Data Science'
D = 'Data science'
C is D

False

In [ ]:
import math
X = 15.9
math.floor(X)

A = 10.3
math.ceil(A)

B = 50.9
math.ceil(B)

C = 90.9
math.floor(C)

90

In [ ]:

list_1 = [9,7,5,3,1]
None not in list_1

list_2 = [10,20,30,40,50]
10 in list_2

list_3 = [5,4,3,2,1]
True not in list_3

list_4 = [2,4,6,8,False]
False in list_4

list_5 = [1,2,3,4,56]
56 not in list_5

False

In [ ]:
A = 10

B = 50

X = 60

Y = 90

A > B and X < Y

B < Y and Y > A

True

In [ ]:
A = float(input('enter the length of a rectangle:'))
B = float(input('enter the breath of a rectangle:'))

if A == B:
  print('It is a square')
else:
  print('It is not a Squre')

enter the length of a rectangle:50
enter the breath of a rectangle:50
It is a square

In [ ]:
Dept = input('Enter your Dept: ')


if Dept == 'data science':
  Dept.lower()
  print('you have great future!')

else:
  print('worried')

Enter your Dept: data science
you have great future!

In [ ]:
length = float(input('Enter the length : '))
breadth = float(input('Enter the bredth : '))

if length == breadth:
  print("Yes, it's Squre")
else:
  print("No, it's not Squre")

Enter the length : 50
Enter the bredth : 50
Yes, it's Squre

In [ ]:
def list_fun():
  x = [1,2,3,4,5,6,7]
  print(x)

list_fun()

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
fruit = ['Apple','Banana','Jackfruite','Mango','ornge','lichi']

for i in fruit:
  print(i)

Apple
Banana
Jackfruite
Mango
ornge
lichi

In [ ]:
numbers_1 = [1,2,3,4,5,6,7,9,10]
numbers_1.reverse()
numbers_1

numbers_2 = [1,5,6,2,4,3]
numbers_2.sort()
numbers_2

for x in numbers_2:
  print(x)

Alphabet = ['A','C','B','E','F','D','Z','H','Y','W']
Alphabet.sort()
Alphabet

for i in Alphabet:
  print(i)

In [ ]:
sum = 0

for i in range(5):
  sum = sum + i
  print(i,sum)

In [ ]:
for i in range(-100,-0,2):
  print(i)

In [ ]:

row = 20

# outer loop
for x in range(row):
  # inner loop
  for y in range(x+1):
    print('/',end=' ')
  print(' ')

/
/ /
/ / /
/ / / /
/ / / / /
/ / / / / /
/ / / / / / /
/ / / / / / / /
/ / / / / / / / /
/ / / / / / / / / /
/ / / / / / / / / / /
/ / / / / / / / / / / /
/ / / / / / / / / / / / /
/ / / / / / / / / / / / / /
/ / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / /
/ / / / / / / / / / / / / / / / / / / /