<a href="https://colab.research.google.com/github/rakibulislam0101/Python-Basic/blob/main/Study_Mart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'data science'

print('Hello World ',' welcome to 60days python',sep='&',end='|')

x = 'Machine Learning'

print('Data Science',x, sep=' &' )

Data Science  &Machine Learning

In [ ]:
var = 'Hello World'
print('My Sentence is',var)

My Sentence is Hello World

In [ ]:
id(var)

132850270268336

In [ ]:
x,y,z = 10,100,1000
z

1000

In [ ]:
x = 1000

def fun1():
  x = 10
  print(x)

fun1()

10

In [ ]:
y = 5000

def fun2():
  y = 50
  print(y)

fun2()

50

In [ ]:
z = 40000

def fun3():
  z = 4
  print(z)

fun3()

4

In [ ]:
x = input()
y = input()

x + y
type(x+y)

In [ ]:

x = float(input('Enter your 1st number : '))
y = float(input('Enter your 2nd number : '))
x + y

In [ ]:
data = '60 Days of python'
data.find('D',0,5)

3

In [ ]:

country_love = 'I Love Bangladesh'
country_love.split()[-1]

'Bangladesh'

In [ ]:

x = 10
y = 10.5
z = 10+5j

isinstance(x,int)

In [ ]:

n = complex(input('Enter Your complex number : '))
n

In [ ]:

list_ = [1,2,3,4,True,[1,2],'data',(1,2,3,8)]
list_[-1][-1]

In [ ]:

t = (1,5,8,9,'AI')
t[0:4]

In [ ]:

x = range(10)
x

In [ ]:

for i in x:
  print(i)

In [ ]:
import array as arr
array = arr.array('i',[1,2,3,4,5])
array

array('i', [1, 2, 3, 4, 5])

In [ ]:

s = {
    1,2,3,4,5,6
}
type(s)

set

In [ ]:

Dic = {
    'Varsity':'FAU Germany',
    'Dept':'Data Science'
}

Dic.values()

dict_values(['FAU Germany', 'Data Science'])

In [ ]:

num1 = 101111
num2 = 101111

num1 is num2

False

In [ ]:
import math
x = 15
y = 4
z = 3

math.floor(x/y)

3

In [ ]:
math.ceil(x/y)

4

In [ ]:
x = 10
y = 10

x is y

True

In [ ]:
list1 = [1,2,3,4,5,6,7]

5 in list1

True

In [ ]:

set1 = {1,2,3,4,5}
3 in set1

True

In [ ]:
10>5 and 4>5

False

In [ ]:
10>4 or 10<3

True

In [ ]:
a = float(input('enter the length of a rectangle:'))
b = float(input('enter the breath of a rectangle:'))

if a==b:
  print('It is a square')

else:
  print('It is not a Squre')

enter the length of a rectangle:2
enter the breath of a rectangle:2
It is a square

In [ ]:
x = 50
y = 100

if x>y:
  print('x is grather than y')
if y>x:
  print('y is grather than x')

else:
  print('out!')

y is grather than x

In [ ]:

Dept = 'Data Science'

if Dept == 'Data Science':
  print('you have great future!')
else:
  print('Worried')

you have great future!

In [ ]:
num = float(input('Enter Any number : '))

if num % 2 == 0:
  if num % 5 == 0:
    print(num, 'Divisible by 5 and 2')
  else:
    print('No 1')

else:
  print('No 2')

Enter Any number : 9
No 2

In [ ]:

amout = 0

net_unit = float(input('Enter your unite Value : '))

if net_unit <= 100:
  net_unit = 0
  print('amount is ',amout)

elif net_unit > 100 and net_unit <= 200:
  amount = (net_unit - 100) * 5
  print('amount is',amount)

elif net_unit > 200:
  amount = ((net_unit - 100)* 10) + 500
  print('amount is ', amount)

Enter your unite Value : 210
amount is  1600.0

In [ ]:

length = float(input('Enter the length : '))

breadth = float(input('Enter the bredth : '))

if length == breadth:
  print("Yes, it's Squre ")

else:
  print("No, it's not Squre")

In [ ]:

held = int(input('Number of classes held : '))
attended = int(input('Number of classes attended : '))

attend_ratio = (attended/held) * 100
attend_ratio


(30/5)*100

500.0

In [ ]:

if attend_ratio >= 75:
  print('you are allowed')
else:
  print('you are not allowed')

you are allowed

In [ ]:

fruit = ['Apple','Banana','Jackfruite','Mango','ornge','lichi']

for i in fruit:
  print(i)

Apple
Banana
Jackfruite
Mango
ornge
lichi

In [ ]:

number = [5,4,1,2,3,7,6,10,9,14,13,15,12,11]

number.sort()
for x in number:
  print(x)

1
2
3
4
5
6
7
9
10
11
12
13
14
15

In [ ]:

Alpha = ['A','C','B','E','F','D']

Alpha.sort()
Alpha.reverse()
Alpha

['F', 'E', 'D', 'C', 'B', 'A']

In [ ]:

for y in range(-100,-10,2):
  print(y)

In [ ]:

data = 'I Love Pyton'

for x in data:
  print(x)

I

L
o
v
e

P
y
t
o
n

In [ ]:

n = [1,5,4,9,7,10]
total = 0

for z in n:
  total = total + z
  print(total,z)

print('#',total)

1 1
6 5
10 4
19 9
26 7
36 10
# 36

In [ ]:

for i in range(10):
  print('I Love Python')

I Love Python
I Love Python
I Love Python
I Love Python
I Love Python
I Love Python
I Love Python
I Love Python
I Love Python
I Love Python

In [ ]:
i = 0
while (i <= 5):
  print(i)
  i = i + 1

0
1
2
3
4
5

In [ ]:

print('Rakibul islam ' , ' Data Science',sep='&')
print('I love Python ',' Data Science',sep="For")
print('Rakibul ',' Rafi',sep='islam')
print('I ',' Bangladesh',sep='Love')
print('------------------------------------------')
A = 'My name is'
print(A,'Rakibul islam Rafi')

B = 'Python'
print('I Love',B)

C = 'I Love'
print(C,'Data Science')

print('-----------------------------------------')

print(id(B))
print(id(A))
print(id(C))

print(['----------------------------------------'])
A,B,C = 10,100,1000
print(A,B,C)

D,E,F,G = 20,200,2000,20000
print(D,E,F,G)

X,Y,Z = 5,50,500
print(X,Y,Z)
print(['-----------------------------------------'])

X = 100

def fun_1():
    X = 1
    print(X)
fun_1()
# -----------------------
Y = 200

def fun_2():
    Y = 2
    print(Y)
fun_2()

Z = 300

def fun_3():
    Z = 3
    print(Z)
fun_3()

A = 400

def fun_4():
    A = 4
    print(A)
fun_4()

B = 500

def fun_5():
    B = 5
    print(B)
fun_5()
print(['-----------------------------------------'])

A = 50
B = 70
print(A+B)

C = 40
D = 20
print(C+D)

# X = int(input('__ :'))
# Y = int(input('__ :'))
# print(X + Y)
print(['-----------------------------------------'])

A = 'Rakibul islam Rafi'
A.find('i',2,5)

B = 'I Love Python'
B.find('P',3,10)

C = 'I Love Bangladesh'
C.find('d',8,14)

D = 'I Love Data Science'
D.index('L')
print(['-----------------------------------------'])

A = 'Name : Rakibul islam Rafi'
A.split()[-1]

B = 'I Love Bangladesh'
B.split()[-2]

C = 'I Love Data Science'

C.split()[-2]

D = 'I Love virtual reality'
D.split()[-1]

E = 'I Love Darkness'
E.split()[-1]

print(['-----------------------------------------'])
import math as mt

A = 10.5
mt.ceil(A)

B = 150.1
mt.ceil(B)

C = 170.0
mt.ceil(C)

D = 149.4
mt.ceil(D)

X = 16.8
mt.floor(X)

Y = 14.5
mt.floor(Y)

Z = 17.8
mt.floor(Z)

print(['-----------------------------------------'])

a = 11
b = 10
a is not b

c = 14
d = 14
c is d

x = 18
y = 18
x is not y

z = 15
y = 15

z is y

print(['-----------------------------------------'])

list_1 = [1,2,3,4,5,6,7,8,9]
5 in list_1

list_2 =['Python','C++','Java','C#','Javascript']
'Python' in list_2

list_3 = ['Data Science','Machine Learning','Computer Vison']
'Machine Learning' in list_3

list_4 = [1,5,9,5,8,7]
5 in list_4

list_5 = [50,60,80,46]
35 is not list_5

print(['-----------------------------------------'])

Set_1 = {
    10,20,30,40,50,60,70,80,90,100
}
50 in Set_1

Set_3 = {
    1,2,3,4,5,6,7,8,9,10
}
9 in Set_3

Set_4 = {
    5,6,10,8,90,40,60
}
5 in Set_4

Set_5 = {
    'Python','Java','C++','C#','Kotlin'
}
'C++' in Set_5

Set_6 = {
    'Data Science','AI','Machine Learning','Cyber Security'
}
'Police' in Set_6

10>5 and 3!=1
5<2 and 8<9
8>5 and 8>=8
4>1 and 8==8
8>2 and 8!=4

7>2 or 8==5
5!=14 or 4>2
7!=7 or 8!=8

5!=7 & 7<4
4==4 & 4!=9
8==8 & 2!=8
5 > 2 & 30<20
60>20 & 30<25

a = float(input('enter the length of a rectangle:'))
b = float(input('enter the breadth of a rectangle:'))

if a == b:
  print("Yes, it's a Squre")
else:
  print("No, it's not Squre")

In [ ]:

dept = input('Enter Your Depertment Subject : ')

dept.lower()
if dept == 'data science':
  print('you have great future!')

else:
  print('Worried')

In [ ]:
marrige_situation = input('Enter the  future Situation : ')

if marrige_situation == 'Type of Anannya':
  print('Never ever Acepet, Quick rejected \n')

elif marrige_situation == 'Type of Neela Apu':
  print('congratulations, have a great future! \n')

elif  marrige_situation == 'Neela types not found':
  print('Create an entirely virtual environment for my life. \n')

elif marrige_situation == 'Could not create virtual environment':
  print('Go to palestine and fight \n')

else:
  print('invalid Syntex \n')

monthly_salary = float(input('Enter My Minimum Monthly Salary : '))

if monthly_salary > 250000:
  print('Neela Apu will get like you')
else:
  print("Give up hope")
  print('However, Never Give up')

In [ ]:
rows = 20

for x in range(rows):
  # inner loop
  for y in range(x+1):
    print('#',end=' ')
  print(' ')

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

X = ['Rafi','Neela Apu']
Y = [16,22]

plt.bar(X,Y,width=-0.6,edgecolor='red')
plt.grid()
plt.scatter(X,Y)
plt.plot(X,Y,c='orange')

In [ ]:


rows = 4
# outer loop
for x in range(rows):
  # inner loop
  for y in range(x+1):
    print('#',end=' ')
  print(' ')

In [ ]:

row = 17

# outer loop
for x in range(row):
  # inner loop
  for y in range(x+1):
    print('*', end=' ')
  print(' ')

In [ ]:
rows = 50

# outer loop
for x in range(rows):
  # inner loop
  for y in range(x+1):
    print('@',end=' ')
  print(' ')

@
@ @
@ @ @
@ @ @ @
@ @ @ @ @
@ @ @ @ @ @
@ @ @ @ @ @ @
@ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @

In [ ]:
row = 30

# outer loop
for x in range(row):
  # inner loop
  for y in range(x+1):
    print('*',end=' ')
  print(' ')

In [ ]:

list_1 = [2,5,8,10]
list_1

isinstance(list_1,list)
type(list_1)

list_1[0]
list_1[-1]
list_1[:]
list_1[0:2]

[2, 5]

In [ ]:

list_2 = [2,3,6,7,10]

list_2[2] = 5
list_2

[2, 3, 5, 7, 10]

In [ ]:

list_3 = [1,2,3,4,6,7,9,10]

for x in list_3:
  print(x)

list_3.insert(4,5)
list_3.insert(7,8)
list_3

1
2
3
4
6
7
9
10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:

list_4 = ['Apple','Ball','Cat','Dog','Egg','Fan']

for i in list_4:
  print(i)

list_4[4] = 'Eagle'
list_4[3] = 'Data Science'
list_4

Apple
Ball
Cat
Dog
Egg
Fan

['Apple', 'Ball', 'Cat', 'Data Science', 'Eagle', 'Fan']

In [ ]:
list_5 = [1,2,3,4,5]

list_5.append(4)
list_5

[1, 2, 3, 4, 5, 4]

In [ ]:
import sys
sys.getsizeof(list_5)

104

In [ ]:

list_6 = ['A','B','C']

list_6.pop()
list_6

list_6 = ['Data Science','Machine learning','Cyber Security']
list_6.pop(-1)
list_6.pop(-1)
list_6

['Data Science']

In [ ]:

l1 = list(('Ai',1,2,3,4,(5,4,8,9,8,9)))
l1[-1]

l1 = list((12,3,5,True,5,1,5,1,5,False,(bool,5,9,70)))
l1[-1]

In [ ]:

l1 = []

n = int(input('Enter your total index: '))

for i in range(n):
  new = input()
  list_1.append(new)
print(l1)

In [ ]:
sum = 0
for x in [1,2,3,4,5]:
      sum = sum + x

print(sum)

In [ ]:

sum = 0
t = [1,1,5,8,7]
for x in t:
      sum = sum + x

print(sum)

22

In [ ]:

sum_ = 0
int_ = [1,5,3,4,6]

for x in int_:
  sum_ = sum_ + x
print(sum_)

19

In [ ]:

sum_ = 0
int_list = [5,10,10,5]

for i in int_list:
  sum_ = sum_ + i
print(sum_)

30

In [ ]:
S = 0
l = [8,9,8,10,5,6,40]

for y in l:
  S = S + y
print(S)

86

In [ ]:
V = 0
T = [1,2,3,4,5]

for i in T:
  V = V + i
print(V)

15

In [ ]:
O = 0
E = [80,60,20,30]

for x in E:
  O = O + x
print(O)

190

In [ ]:
Y = 0
E = [1,2,3,4,5]

for x in E:
  Y = Y + x

print(Y)

15

In [ ]:

D = 0
S = [40,40]

for i in S:
  D = D + i

print(D)

In [ ]:

row = 20

# outer loop
for x in range(row):
  # inner loop
  for y in range(x+1):
    print('#',end=' ')
  print('')

In [ ]:

W = 0
R = [15,15,15]

for i in R:
  W = W + i

print(W)

45

In [ ]:

row = 5

# outer loop
for i in range(row):
  # inner loop
  for y in range(i+1):
    print('#',end=' ')
  print(' ')

#
# #
# # #
# # # #
# # # # #

In [ ]:
P = 0
V = [4,5,6,9,18,2,5,6,89]

for x in V:
  P = P + x
print(P)

144

In [ ]:

Reverse_iteam = ['Python','Java','C++','C#']
Reverse_iteam.reverse()
Reverse_iteam.remove('C++')
Reverse_iteam


iteams = ['DS','AI','ML','CS']
iteams.pop(-1)
iteams

['DS', 'AI', 'ML']

In [ ]:
# Empty list
list_1 = []

for x in range(10):
  list_1.append(x)

list_1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:

list_2 = []

for i in range(20):
  list_2.append(i)
list_2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
T = [15841,2582894,352641,5548484,8418,541841,148941,1564156,15615615]
list_3 = []

for y in T:
  list_3.append(y)
list_3

[15841, 2582894, 352641, 5548484, 8418, 541841, 148941, 1564156, 15615615]

In [ ]:
l4 = [ x for x in range(10)]
l4

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:

rows = 30


for i in range(rows):
  # inner loop
  for x in range(i+1):
    print('!',end=' ')
  print(' ')

!
! !
! ! !
! ! ! !
! ! ! ! !
! ! ! ! ! !
! ! ! ! ! ! !
! ! ! ! ! ! ! !
! ! ! ! ! ! ! ! !
! ! ! ! ! ! ! ! ! !
! ! ! ! ! ! ! ! ! ! !
! ! ! ! ! ! ! ! ! ! ! !
! ! ! ! ! ! ! ! ! ! ! ! !
! ! ! ! ! ! ! ! ! ! ! ! ! !
! ! ! ! ! ! ! ! ! ! ! ! ! ! !
! ! ! ! ! ! ! ! ! ! ! ! ! ! ! !
! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! !
! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! !
! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! !
! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! !
! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! !
! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! !
! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! !
! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! !
! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! !
! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! !
! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! !
! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! !
! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! !
! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! !

In [ ]:

thistuple = ("FAU",True,9,1,2,3,4,5,"Study Mart")
thistuple

type(thistuple)

tuple

In [ ]:
class Employee:
  def __init__(self,Name,Age,Company):
    self.Name = Name
    self.Age = Age
    self.Company = Company

In [ ]:
class Person:
  def __init__(self,Name,Age,Gender):
    self.Name = Name
    self.Age = Age
    self.Gender = Gender

In [ ]:
class Cat:
  def __init__(self,Name,Color):
    self.Name = Name
    self.Color = Color

In [ ]:
class Dog:
  def __init__(self,Name,Age,Color,Type):
    self.Name = Name
    self.Age = Age
    self.Color
    self.Type

In [ ]:
class Car:
  def __init__(self,Name,Model,Weight):
    self.Name = Name
    self.Model = Model
    self.Weight = Weight

In [ ]:
from os import spawnle
kirk = ["James Kirk", 34, "Captain", 2265]
spock = ["Spock", 35, "Science Officer", 2254]
mccoy = ["Leonard McCoy", "Chief Medical Officer", 2266]

kirk[-4]
spock[-2]
mccoy[-3]

for i in kirk,spock,mccoy:
  print(i)

['James Kirk', 34, 'Captain', 2265]
['Spock', 35, 'Science Officer', 2254]
['Leonard McCoy', 'Chief Medical Officer', 2266]

In [ ]:
class Dog:
  H = 'Hello World'

  def __init__(self,Name,Age):
    self.Name = Name
    self.Age = Age

In [ ]:
class Product:
  pass

item = Product()
item
type(item)

__main__.Product

In [ ]:
class Product:
  pass

item = Product()
item

item.price = 80
item.price

80

In [ ]:
class Product:
  def __init__(self,Name,Price,quantity):
    self.Name = Name
    self.Price = Price
    self.quantity = quantity
    print('Initializer')

item1 = Product('Mobile Phone',8000,10)
item2 = Product('Laptop',10000,100)


item1.Price
item.Name

Initializer
Initializer

'Mobile Phone'

In [ ]:
class Person:
  pass
  print('Initialize')

Person_1 = Person()
Person_1.name = 'Safin'
Person_1.age = 16
Person_1.gender = 'Male'
print(Person_1.name)
print(Person_1.age)



Person_2 = Person()
Person_2.name = 'RAFI'
Person_2.age = 16
Person_2.gender = 'Male'
print(Person_2.name)
print(Person_2.age)

Person_3 = Person()
Person_3.name = 'Arafat'
Person_3.age = 16
Person_3.gender = 'Male'

Person_4 = Person()
Person_4.name = 'Amtahaman'
Person_4.age = 15.9
Person_4.gender = 'Male'

print(Person_4.gender)
print(Person_4.name)

Initialize
Safin
16
RAFI
16
Male
Amtahaman

In [ ]:
class Cat:
  def __init__(self, name,age,color):
    self.name = name
    self.age = age
    self.color = color


Cat_1 = Cat('Mew',2.3,'Brown')

Cat_2 = Cat('Miw',3,'Black')

Cat_3 = Cat('Pew',2,'White')

Car_4 = Cat('Gew',3.5,'Black & white')

print(Cat_1.name)

print(Cat_2.color)

print(Cat_3.age)

print(Car_4.color)

Mew
Black
2
Black & white

In [ ]:
rows = 20

# outer loop
for x in range(rows):
  # inner loop
  for y in range(x+1):
    print('#',end=' ')
  print(' ')

#
# #
# # #
# # # #
# # # # #
# # # # # #
# # # # # # #
# # # # # # # #
# # # # # # # # #
# # # # # # # # # #
# # # # # # # # # # #
# # # # # # # # # # # #
# # # # # # # # # # # # #
# # # # # # # # # # # # # #
# # # # # # # # # # # # # # #
# # # # # # # # # # # # # # # #
# # # # # # # # # # # # # # # # #
# # # # # # # # # # # # # # # # # #
# # # # # # # # # # # # # # # # # # #
# # # # # # # # # # # # # # # # # # # #

In [ ]:
sum = 0
list_ = [1,2,3,4,5,6,7,8]

for i in list_:
  sum = sum + i
  print(i,sum)

In [ ]:
class Phone:
  def __init__(self,name,Ram,Storage,Price,Quantity):
    self.name = name
    self.Ram = Ram
    self.Storage = Storage
    self.Price = Price
    self.Quantity = Quantity

  def total_price(self):
    return self.Price * self.Quantity


Samsung = Phone('Samsung Glaxy','16GB','128GB',20000,20)
Apple = Phone('I Phone X','32GB','256GB',350000,350)
mI = Phone('MI','8GB','16GB',160000,14)
Hornor = Phone('Hornor','4GB','16GB',14000,15)
Realme = Phone('Realme','16GB','64GB',16000,23)

print(Samsung.total_price())
print(Apple.total_price())
print(Realme.total_price())

print(Apple.Storage)

400000
122500000
368000
256GB

In [ ]:
class Product:
  def __init__(self,name,price):
    self.name = name
    self.price = price

Phone = Product('Smart Phone',15000)
print(Phone.name)

Smart Phone

In [ ]:
class Employee:
  print('Initializer')
  def __init__(self,name,age):
    self.name = name
    self.age = age

Initializer

In [ ]:

class Dog:
    pass

Dog()

In [ ]:
class Cat:
  pass

a = Cat()
b = Cat()

a == b

False

In [ ]:
set_3 = {
    'Python','C++','Java',(10,10,10,)
}
set_3.add(100000)
set_3

{(10, 10, 10), 100000, 'C++', 'Java', 'Python'}

In [ ]:

class Person():
  pass

a = Person()
b = Person()

a == b

False

In [ ]:
class Product:
  def __init__(self,name,price: float,quantity: int):

    assert price >= 0, 'Price must be greather than 0'

    self.name = name
    self.price = price
    self.quantity = quantity

  def total_price(self):
    return self.price * self.quantity


item1 = Product('Mobile Phone',8000,10)
item2 = Product('Laptop',25000,20)

print(item1.total_price())

80000

In [ ]:
# Array in python

import array as arr

ar1 = arr.array('i',[1,2,3,4,5,6])
ar1

ar2 = arr.array('f',[1,2,3,4,5])
ar2

ar3 = arr.array('f',[10,20,30,40,50])
ar3[2]

ar4 = arr.array('i',[9,8,7,6,5])
ar4[0] = 10
ar4

ar5 = [1,2,3,4,5,6,7,8,9,10]
ar5[:5]

ar6 = arr.array('f',[1,2,3,4,5,6,7])

ar7 = arr.array('f',[1,2,3,4,5])
ar7.remove(5)
ar7


r = arr.array('i',[])

items = int(input())

for i in range(items):
  val = int(input())
  r.append(val)
  # print(val)

print(r)

3
10
20
30
array('i', [10, 20, 30])

In [ ]:
# Dictionary

Dic = {
    'name': 'Rakibul islam',
    'School': 'Jhangirnagor School & Collage'
}

Dic.keys()
Dic.values()
Dic.items()


Dic.update({'class': 8})
Dic

# Dic2 = Dic.copy()
# Dic2

{'name': 'Rakibul islam',
 'School': 'Jhangirnagor School & Collage',
 'class': 8}

In [ ]:
Dic = {
    'name' : 'Rakibul islam',
    'age': 15,
    'class': 8
}

for i in Dic:
  print(Dic[i])

Rakibul islam
15
8

In [ ]:
n = int(input())
d = {}

for i in range(n):
  key = input()
  value = input()
  d[key] = value
print(d)

In [ ]:

name = ['majbah','shakil','sohan']
vaesity = ['diu','aiub','diu']

z = list(zip(name,vaesity))
z

Alphabet = ['A','B','C','D','E','F','G','H','I']
Word = ['Apple','Ball','Cat','Dog','Eagle','Fry','Goat','Hen','IceCream']

Zip_ = list(zip(Alphabet,Word))
Zip_

Alpha = ['D','C','F','l']
Animals = ['Dog','Cat','Fish','lion']

zipp = dict(zip(Alpha,Animals))
zipp.keys()
zipp.values()

dict_values(['Dog', 'Cat', 'Fish', 'lion'])

In [ ]:
for i in range(1,10):
  if i == 5:
    break
  print(i)

1
2
3
4

In [ ]:
for i in range(1,100):
  if i == 11:
    break
  print(i*3)

In [ ]:
sen = "I Love Bangladesh and USA"

for i in sen.split():
  if i == "and" :
    break
  print(i)

I
Love
Bangladesh

In [ ]:
num = [1,2,3,4,5,6,7,8,9,10]

[i for i in num if i%2==0]


num2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

for i in num2:
  if i%2==0:
    print(i)

In [ ]:
num3 = [1,2,3,4,5,6,7,8,9,10]

for i in num3:
  if i%2 != 0:
    print(i)

1
3
5
7
9

In [ ]:
sen2 = 'i love bangladesh'

for i in sen2.split():
  if i == 'love':
     continue
  print(i)

i
bangladesh

In [ ]:
bool_list = [True,False,False,True,False]

any_ture = any(bool_list)
any_ture

all_true = all(bool_list)
all_true

False

In [ ]:
def dept():
  print('Data Science')
  print('Machine Learning')

dept()

Data Science
Machine Learning

In [ ]:
def loop_():
  for i in range(1,10):
    if i%2 == 0:
      print(i)

loop_()

2
4
6
8

In [ ]:
def dept_with_names(name):
  print(f'my major is {name}')

dept_with_names('ML & AI')
dept_with_names('ML & AI')

my major is ML & AI
my major is ML & AI

In [ ]:

def fun_():
  print(2+2)
  print('initializer')
fun_()

4
initializer

In [ ]:
def dept(name):
  print(f'my major is {name}')

dept('Data Science & machine learning')
dept('Machine learning')

my major is Data Science & machine learning
my major is Machine learning

In [ ]:

def name():
  print('Rafi')
  return 'Rafi'

name()

Rafi

'Rafi'

In [ ]:
def add_num():
  a = 10
  b = 20
  return a + b

add_num()

30

In [ ]:
def sub_num():
  a = 30
  b = 15
  result = a - b
  return result

sub_num()

15

In [ ]:
def user_input():
  x1 = int(input())
  x2 = int(input())
  y1 = int(input())
  y2 = int(input())

  return y1,x2

user_input()

1
2
3
4

(3, 2)

In [ ]:
def input_():
  x1 = int(input())
  x2 = int(input())
  y1 = int(input())
  y2 = int(input())
  return (x1,y1),(x2,y2)

input_()

1
2
3
4

((1, 3), (2, 4))

In [ ]:

def fact(x):
  result = 1
  if x == 1 or x == 0:
    print(f'The {x} is = 1')
  else:
    for i in range(x):
      result = result * (i+1)
    return result


fact(0)

The 0 is = 1

In [ ]:

def revove_duplicates(input_list):
  uniqe_list = []

  for item in input_list:
    if item not in uniqe_list:
      uniqe_list.append(item)

  return uniqe_list

input_list = [1,1,1,2,3,3,4,2,3,7]

revove_duplicates(input_list)
print(f'Real list {input_list}')
print(f'Uniqe list {revove_duplicates(input_list)}')

Real list [1, 1, 1, 2, 3, 3, 4, 2, 3, 7]
Uniqe list [1, 2, 3, 4, 7]

In [ ]:
# list_reverse

def reverse_list(original_list):
  return original_list.reverse()

list_1 = [1,2,3,4,5]
list_2 = [1,2,3,4,5,6,7,8,9,10]
list_3 = [6,7,8,9,10]

reverse_list(list_1)
reverse_list(list_2)
reverse_list(list_3)

list_2

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# list findout even number


def even_num(even):
  for i in even:
    if i%2 == 0:
      print(f'is even {i}')


r = range(50)
t = even_num(r)

is even 0
is even 2
is even 4
is even 6
is even 8
is even 10
is even 12
is even 14
is even 16
is even 18
is even 20
is even 22
is even 24
is even 26
is even 28
is even 30
is even 32
is even 34
is even 36
is even 38
is even 40
is even 42
is even 44
is even 46
is even 48

In [ ]:
def odd_num(odd):
  for i in odd:
    if i%2 != 0:
      print(f'is Odd {i}')

o_r_1 = range(10)
r_1 = odd_num(o_r_1)

# another range

is Odd 1
is Odd 3
is Odd 5
is Odd 7
is Odd 9

In [ ]:
# list concatenate using function


# list_1 = [1,2,3]
# list_2 = [4,5,6]

# Output : concatanet_list: [1,2,3,4,5,6]


def concatenate_list(list_1,list_2):
  return list_1 + list_2


l1 = [1,2,3]
l2 = [4,5,6]
concatenate_list(l1,l2)

[1, 2, 3, 4, 5, 6]

In [ ]:
# list sum using Function
# Assiment

list_ = []
U_Input = int(input('Enter your total index: '))

for i in range(U_Input):
  new = int(input())
  list_.append(new)


def sum():
  sum = 0
  for i in list_:
    sum = sum + i
  print(sum)
print('-----------------')
sum()

Enter your total index: 5
1
2
3
4
5
-----------------
15